body {
  font-family: sans-serif;
  background-color: orange;
  color: white;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 300px;
  height: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: white;
  color: grey;
  border-radius: 5px;
  display: none;
  /* border:  */
  /* align-content: center; */
}

.active {
  display: flex;
}

.title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 10px;
}

.inputs > input {
  width: 80%;
  height: 25px;
  border: 3px solid rgb(193, 193, 193);
  border-radius: 3px;
  font-size: 14px;
  padding-left: 10px;
}

button {
  width: 85%;
  margin-top: 15px;
  background-color: green;
  color: white;
  height: 50px;
  font-size: 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
